{% extends "app/layout.html" %}

{% block content %}
      


    {% load staticfiles %}
    <a href="https://pishi.pro/" target="_blank"><img src="{%static 'app/content/pishi.png'%}" alt="Пиши.про" /></a><br />
    Сайт учить начинающих писателей, как правильно создавать книги. Помогает издаваться, показывает произведения начинающих писателей.<br />

    <a href="https://www.labirint.ru/" target="_blank"><img src="{%static 'app/content/lab.png'%}" alt="Лабиринт" /></a><br />
    Интернет магазин книг, как класических, так и современных. <br />

    <a href="https://www.dailypage.co/" target="_blank"><img src="{%static 'app/content/tren.png'%}" alt="Тренер писателей" /></a><br />
    Полезный сайт для тех, кто хочет стать автором, но не может привить себе привычку понемногу писать каждый день<br />


{% endblock %}